* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
}
.wrapper {
  /*como minimo un ancho de 65*/
  width: 65vmin;
  height: 70vmin;
  background: #293447;
}

.game-details {
  color: #b8c6dc;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px 27px;
}
